~~ Copyright 2013 Zenika
~~
~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~
~~   http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License.

Varnishtest Maven Plugin

  Goals available for this plugin:

*--------------------------------------------+---------------------------------+
  Goal                                       | Description
*--------------------------------------------+---------------------------------+
  {{{./run-mojo.html}varnishtest:run}}       | Runs tests with varnishtest.
*--------------------------------------------+---------------------------------+

  Or call <<<mvn help:describe -Dplugin=com.zenika:varnishtest-maven-plugin>>>
  to display parameter details in your command line interface.

System Requirements

  The following specifies the minimum requirements to run this Maven plugin:

*------------+-------------------------+
  Varnish    | 3.0.x
*------------+-------------------------+
  Maven      | 3.0
*------------+-------------------------+
  JDK        | 1.6
*------------+-------------------------+
  Memory     | No minimum requirement.
*------------+-------------------------+
  Disk Space | No minimum requirement.
*------------+-------------------------+

Usage

  You should specify the version in your project's plugin configuration:

+--
<project>
  ...
  <build>
    <plugins>
      <plugin>
        <groupId>com.zenika</groupId>
        <artifactId>varnishtest-maven-plugin</artifactId>
        <version>${project.version}</version>
        <executions>
          <execution>
            <goals>
              <goal>run</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
      ...
    </plugins>
  </build>
  ...
</project>
+--

  In a multi-module project you can configure the plugin in your parent POM:

+--
<project>
  ...
  <build>
    <!-- To define the plugin version in your parent POM -->
    <pluginManagement>
      <plugins>
        <plugin>
          <groupId>com.zenika</groupId>
          <artifactId>varnishtest-maven-plugin</artifactId>
          <version>${project.version}</version>
          <executions>
            <execution>
              <goals>
                <goal>run</goal>
              </goals>
            </execution>
          </executions>
        </plugin>
        ...
      </plugins>
    </pluginManagement>
    <!-- To use the plugin goals in your POM or parent POM -->
    <plugins>
      <plugin>
        <groupId>com.zenika</groupId>
        <artifactId>varnishtest-maven-plugin</artifactId>
      </plugin>
      ...
    </plugins>
  </build>
  ...
</project>
+--

  For more information, see
  {{{http://maven.apache.org/guides/mini/guide-configuring-plugins.html}"Guide to Configuring Plug-ins"}}
